.form {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
}

.input {
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 12px 20px;
  outline: none;
  transition: 0, 3s;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.input:focus {
  border-color: #ffa500;
}

.addBtn {
  background: #ffa500;
  color: #121212;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background: #ff8c00;
  transform: scale(1.05);
}
