.main {
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 40px;
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column;
    align-items: center;
  }
}
